.container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
}

.mainContainer {
    box-sizing: border-box;
    width: 100vw;
}

@media (max-width: 430px) {
    .container {
        grid-template-rows: 1fr auto;
    }
}