.title {
    color: #FFFFFF;
    font-family: var(--fuente-roboto);
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
    max-width: 432px;
    text-align: center;
    border-radius: 15px;
    padding: 16px 0;
    margin-bottom: 40px;
}

/* .containerVideos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
} */

.containerVideos {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}